* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: darkblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.637);
    padding: 1.5rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo h1 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav-list ul {
    display: flex;
    align-items: center;
}

.nav-list ul li {
    list-style: none;
    margin: 0 .8rem;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}

.nav-item a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.nav-item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.btn button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: .3rem .9rem;
    font-size: .9rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: .3s ease-in-out;
}

.btn button:hover{
    background-color: #fff;
    color: darkblue;
}

.menu-mobile {
    display: none;
}

.menu-mobile button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #fff;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-menu {
        gap: 1.2rem;
    }

    .nav-item {
        display: none;
    }

    .btn {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .btn {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .btn button {
        width: 100%;
    }

    .open {
        display: block;
    }
}